Cython>=0.22
pystan==2.19.1.1
fbprophet==0.7.1  # or another version you've tested with
plotly==5.5.0
streamlit==1.20.0
click==8.0.0  # specify a minor version if needed
pandas==1.2.0  # or another version you've tested with
requests==2.27.1
datetime==4.4  # or another version you've tested with
holidays==0.13
yahooquery==2.3.2
